html {
  height: 100%;
}

body {
  background-color: var(--light-grey);
  color: var(--dark-grey);

  display: grid;
  place-content: center;
  height: 100%;
}

.button {
  display: inline-block;
  background-color: var(--pink);
  padding-block: 0.75em;
  padding-inline: 1em;
  margin-block: 0.5em;
  text-decoration: none;
  color: white;
  border-radius: var(--border-radius);
  transition: background-color 150ms ease-in-out;
}
main {
  width: 100vw;
  display: flex;
  justify-content: center;
}
section {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.button:hover {
  background-color: color-mix(in srgb, var(--pink) 80%, white);
}

.playlists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-card {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  color: var(--dark-grey);
  margin: 15px;
  padding: 10px;
  box-shadow: var(--box-shadow);

  text-decoration: none;
}

.category-card-title {
  width: 15%;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
}

.category-card-description {
  flex: 1;
  font-weight: 500;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.search-input {
  width: 200px;
  margin: 5px 0 60px 0;
  box-shadow: var(--box-shadow);
}

.search-input:focus-visible {
  border: 3px solid var(--pink);
  outline: none;
}

.search-input::placeholder {
  font-weight: 700;
  font-size: 14px;
}
